/* Override some defaults */
html, body {
  background-color: #fff;
  color: #555;
}

body {
  padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}

table {
  margin-bottom: 3em;
}

li {
  line-height: 21px;
}

code, pre {
  font-family: Courier New, monospace;
  font-size: 13px;
  color: #222;
  margin-bottom: 10px;
}

.topbar-inner, .topbar .fill {
  background-image: -khtml-gradient(linear, left top, left bottom, from(#777), to(#222));
  background-image: -moz-linear-gradient(top, #777, #222);
  background-image: -ms-linear-gradient(top, #777, #222);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #777), color-stop(100%, #222));
  background-image: -webkit-linear-gradient(top, #777, #222);
  background-image: -o-linear-gradient(top, #777, #222);
  background-image: linear-gradient(top, #777, #222);
}

.topbar-inner, .topbar .fill .brand {
  display: inline-block;
  float: none;
  padding: 8px 20px 12px 20px;
  margin: 0;
}

.container > footer p {
  text-align: center; /* center align it with the container */
}
.container {
  width: 1000px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

.hero-unit
{
  background: url("../images/logo.png") 9px center #DDD no-repeat;
  border-radius: 0 0 106px 106px;
  text-align: center;
}

.hero-unit h1 {
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.hero-unit p {
  margin-top: 5px;
  color: #555;
}

.features {
  width: 750px;
  margin: 40px auto 30px;
}

.features p {
  font-size: 16px;
  line-height: 23px;
  padding: 0 15px;
  margin: 40px 0 0 0
}

.features p.special {
  background: #ddd;
  border-radius: 6px;
  padding: 10px 15px;
}

.features p.deduction {
  background: url("../images/arrow_down.png") center left transparent no-repeat;
  display: block;
  height: 35px;
  margin: 0 0 0 10px;
  padding: 0;
}

.features a#documentation {
  margin: 40px 0 20px 250px;
}

.features a.large {
  font-size: 23px;
  line-height: normal;
  padding: 13px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-top: 40px;
}

h1#title {
  font-size: 39px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  margin-bottom: 0.75em;
}

h2  {
  margin: 25px 0 10px;
  line-height: 1.5em;
  font-size: 22px;
  color: #822;
}

h2 strong {
  background-color: #822;
  color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0 4px;
}
/* The white background content wrapper */
.content {
  background-color: #fff;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}

a {
  color: #859c4f;
}
a:hover, a:active {
  color: #768a48;
  text-decoration: underline;
}

p {
  margin: 0 0 10px;
}

p.request {
  background: url("../images/application_get.png") 0 2px transparent no-repeat;
  padding-left: 30px;
}

p.response {
  background: url("../images/application_put.png") 0 2px transparent no-repeat;
  padding-left: 30px;
}

.breadcrumb {
  background: none;
  border-width: 0 0 1px 0;
  border-color: #eee;
  margin: 20px 0 30px;
  padding: 7px 0;
  font-size: 14px;
}

.views-table,
.parameters-table {
  border: 1px solid #eee;
  border-width: 1px 0;
}

.views-table caption,
.parameters-table caption {
  text-align: left;
  color: #787878;
  margin-bottom: 0.75em;
}

.views-table caption strong,
.parameters-table caption strong {
  line-height: 1.5em;
  font-size: 16px;
  color: black;
}

.views-table tr .views-field-body,
.views-table tr .views-field-title,
.parameters-table tr .parameters-field-body,
.parameters-table tr .parameters-field-title {
  padding: 8px 0;
  border-color: #eee;
}

.views-table tr .views-field-title {
  width: 35%;
}

.parameters-table tr .parameters-field-title {
  width: 30%;
}

.parameters-table tr .parameters-field-title {
  font-weight: bold;
}

.parameters-table tr .parameters-field-title span {
  font-weight: normal;
  display: block;
  color: #a1a1a1;
}

.views-table tbody tr:hover,
.parameters-table tbody tr:hover {
  background-color: #fafafa;
}

.views-table tr .views-field-body,
.parameters-table tr .parameters-field-body {
  color: #787878;
}

pre.highlight {
  color: #404040;
  font-family:  Monaco, Consolas, monospace;
  color: white;
  background-color: #1a1a1a;
}

pre.highlight .string { color: #8fb35f; }
pre.highlight .class { color: #FF0C4B; }
pre.highlight .number { color: #6f97ff; }
pre.highlight .keyword { color: #01DBFF; }

.block-api {
  background-color: #F8F8F8;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: fixed;
  width: 260px;
}

.block-api table {
  margin: 0 0 20px 0;
}

.block-api table tr td,
.block-api table tr th {
  border: 1px solid #eee;
  border-width: 1px 0 0;
  font-weight: normal;
  padding-left: 0;
  padding-right: 0;
}
